body {
  background-color: #2F2E41;
}

h1 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: white;
}

h1 strong {
  color: #00BFA6;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #C2C2C2;
}

p span {
  color: #00BFA6;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}